Package: com.ladshyam.forceForward
Name: forceForward
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: ShyamLad
Author: ShyamLad
Section: Tweaks
